div button.list-group-item {
    background-color: #888;
    color: #ccc;
}

button.list-group-item h4.list-group-item-heading {
    color: white;
}

div button.list-group-item:hover, div button.list-group-item:focus {
    background-color: #444;
    color: #ccc;
}